{% extends "base.html" %} {% block meta %}
<meta
  name="description"
  content="Decker's Carpet Cleaning delivers the best carpet cleaning service in your area and provides results customers rave about"
/>
<title>Carpet Cleaning Reviews For the Best Carpet Cleaning Service</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <div class="form">
    <h1>Schedule Your Free Consultation Today!</h1>
    <div class="centerme">
      <iframe
        style="display: block"
        width="550px"
        height="760px"
        src="https://www.servicemonster.net/forms/Form/R1RUc3FOVDVUQkhlQmtDYnpUUSUyZjA5R29jS0dIVUdMdXZxb1ZoanRzRzBvJTNk?embed=true"
      ></iframe>
    </div>
  </div>
</div>

{% endblock content %}
