{% extends "base.html" %} {% block meta %}
<meta
  name="description"
  content="Schedule your free consultation with Decker's Carpet Cleaning Today!"
/>
<title>Booking | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <div class="fittlebug-test">
    <h2 class="whitetextcenter">We now offer Real-Time online booking!</h2>
    <div class="body-columns">
      <div class="col col-text-2">
        <p class="whitetext">
          We now offering hassle-free, real-time booking of Carpet and
          Upholstery Cleaning. The services currently listed in this platform
          are Carpet Cleaning, Upholstery Cleaning and all additional services
          related to carpet cleaning and upholsery cleaning. If you are looking
          for Tile Cleaning, Stone Cleaning, Carpet Repairs or stretching, or
          Area Rug Cleaning, please fill out the "Schedule Your Free
          Consultation Today!" form below, or call or text us at
          <a class="whitelinks" href="tel:2819730281">281-973-0281</a>, or send
          us an email at
          <a href="mailto:service@deckerscarpetcleaning.com" class="whitelinks"
            >service@deckerscarpetcleaning.com</a
          >. Thank you!
        </p>
      </div>
    </div>
    <div class="schedulebtn">
      <a
        class="button btn-lg"
        target="_blank"
        href="https://deckerscarpetcleaning.fittlebug.com/"
        >Book Your Appointment Now!</a
      >
    </div>
  </div>
  <div class="form">
    <h1>Schedule Your Free Consultation Today!</h1>
    <div class="centerme">
      <iframe
        style="display: block"
        width="550px"
        height="760px"
        src="https://www.servicemonster.net/forms/Form/R1RUc3FOVDVUQkhlQmtDYnpUUSUyZjA5R29jS0dIVUdMdXZxb1ZoanRzRzBvJTNk?embed=true"
      ></iframe>
    </div>
  </div>
</div>

{% endblock content %}
