{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Learn More about a career with Decker's Carpet Cleaning."
/>
<meta name="keywords" content="" />
<title>Careers | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Careers</h1>
  <div class="breaker"></div>
  <p class="tagline">
    Are you interested in a profession where you will learn valuable skills that
    last a lifetime?<br />
    Are you looking for a career change into a career that will challenge you,
    yet provide the satisfaction of helping others?<br />
    Are you hoping for a job that you can work your way through college on?
  </p>
  <h2 class="content-subheaders">Job Description</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Decker's Carpet Cleaning is currently accepting resumes for full and
        part time Carpet Cleaning Technicians.
      </p>
      <p>NO CARPET CLEANING EXPERIENCE NECESSARY</p>
      <h2 class="content-subheaders">Who We Are:</h2>
      <p>
        Decker's Carpet Cleaning, established in 2011, is a local family run
        business based in Kingwood, TX. Our mission is to make people happy and
        improve the environment around us. We do this by keeping their floors
        and furniture clean in their homes and offices in a friendly,
        professional, and efficient manner. We feel that our customers should be
        delighted by our service and amazed by our results.
      </p>
      <h2 class="content-subheaders">What We Do:</h2>
      <p>
        We visit customers' homes, workplaces, schools and churches where we
        greet the customer, evaluate their cleaning needs, offer our best
        solution to their needs with a clearly defined scope and price, complete
        the service, collect the balance due, enter payment and send receipt.
        Our goal at each visit is to build a long term relationship with that
        client.
      </p>
      <h4 class="whitetext">Our Services Include:</h4>
      <ul class="list">
        <li>Carpet Cleaning using our own proprietary methods</li>
        <li>Carpet Repair and Stretching</li>
        <li>Tile and Grout Cleaning</li>
        <li>Area Rug Cleaning</li>
        <li>Hard Floor cleaning</li>
        <li>VCT Strip and Wax</li>
        <li>Stone Floor Cleaning, Honing and Polishing</li>
        <li>Upholstery Cleaning</li>
        <li>Mattress Cleaning</li>
        <li>Shower Stall Cleaning</li>
        <li>Auto Interior Cleaning</li>
        <li>Granite Countertop Cleaning and Polishing</li>
        <li>Marble Countertop Cleaning and Polishing</li>
        <li>Emergency Water Extraction and Structural Drying</li>
        <li>Other Services as they develop</li>
      </ul>
    </div>
  </div>
  <h2 class="content-subheaders">Who You Are:</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        You have DEMONSTRATED Customer Service skills in a hands on environment
        (Restaurant Server, Tire Shop, Oil Change shop, Retail, or in home
        service provider or similar position)
      </p>
      <h4 class="whitetext">You're passionate about SOMETHING!</h4>
      <p>
        You realize this is a job where you will be on your toes with customers,
        on your feet cleaning, and you're here to delight and amaze our clients.
        That takes enthusiasm.
      </p>
      <h4 class="whitetext">
        You're willing to take initiative and learn new things.
      </h4>
      <p>
        Education is important to you and you know it comes in many different
        forms. You seek it out for your own personal betterment.
      </p>
      <h4 class="whitetext">You have integrity</h4>
      <p>
        You would never dream of cutting corners or being dishonest with
        customers. You're working to make money, but you must feel you're
        contributing to something bigger.
      </p>
      <h4 class="whitetext">You're a good communicator.</h4>
      <p>
        You can get to the point while being clear and effective, and you
        actively listen when people speak. You can read, write, and speak
        English and maybe even other languages.
      </p>
      <h4 class="whitetext">
        You can measure and calculate the area of a room
      </h4>
      <p>
        Building invoices with multiple service items and taxes is a large part
        of working in the field.
      </p>
      <h4 class="whitetext">You're in good physical shape.</h4>
      <p>
        You can lift 50 plus pounds and work on your feet in various conditions.
        You're not allergic to cats, dogs, dust, springtime, hard work, or
        mornings. You can see the full color spectrum to identify spots on the
        carpet.
      </p>
      <h4 class="whitetext">You can follow and give direction.</h4>
      <p>
        You have a good attitude towards life and take a positive approach to
        problems.
      </p>
      <h4 class="whitetext">You pay attention to the details.</h4>
      <p>
        You know that the little things matter and that's what sets you apart
        from your peers.
      </p>
      <h4 class="whitetext">
        You can drive a van (or are confident you can learn).
      </h4>
      <p>
        You can navigate traffic, understand online maps, and understand that
        your van is a giant billboard.
      </p>
      <br />
      <p>
        The ideal candidate excels at listening to the customers' needs, finding
        the best solution, communicating the value of the solution, and
        delivering a high quality result.
      </p>
      <div class="breaker"></div>
      <p>Candidates must have the following</p>
      <ul class="list">
        <li>Valid Drivers License and clean driving record</li>
        <li>Pass a Background Check</li>
        <li>Customer Service Experience in a hands-on environment</li>
      </ul>
    </div>
  </div>
  <h2 class="content-subheaders">What You Will Do:</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <ul class="list">
        <li>Review the day's route</li>
        <li>Prepare vans and equipment</li>
        <li>Communicate effectively with team and customers</li>
        <li>Travel to and from jobs safely</li>
        <li>Quote and close sale on job. Define Expectations with customers</li>
        <li>Discuss and view job with customer and crew</li>
        <li>
          Set up job, direct or train new Technicians to set up and vacuum/sweep
          and prep rooms/areas
        </li>
        <li>
          Clean item(s) using specific steps and solutions outlined in training
          while maintaining a high level of detail
        </li>
        <li>
          Execute job in a professional, safe, and efficient manner including
          utilizing all precautions available (PPE, corner guards, towels,
          straps, mats, drop cloths, wet floor signs, air movers)
        </li>
        <li>Train and develop new Technicians in all methods utilized</li>
        <li>Communicate expectations and results with customer and staff</li>
        <li>
          Suggest additional services in an Educational and Conversational
          manner
        </li>
        <li>Clean up jobsite</li>
        <li>Inspect job with customer</li>
        <li>
          Collect on invoice, finalize data entry, send receipt, discuss leave
          behind marketing materials
        </li>
        <li>Schedule additional service if needed</li>
        <li>Canvas neighborhood</li>
        <li>Maintain a positive attitude and crew throughout job/day</li>
        <li>Perform multiple tasks at multiple stops throughout the day</li>
        <li>
          Put away clean and well stocked vans and equipment at end of shift
        </li>
      </ul>
    </div>
  </div>
  <h2 class="content-subheaders">What We Offer:</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <ul class="list">
        <li>A competitive pay scale.</li>
        <li>Industry training and certification</li>
        <li>Paid holidays, including your birthday!</li>
        <li>Uniforms / Uniform Allowance</li>
        <li>
          A fun, exciting and rewarding career making people happy by cleaning
          their home or work environment
        </li>
        <li>
          Be part of a small business that has a great reputation and works to
          better the industry and environment
        </li>
      </ul>
      <p>Additional Compensation:</p>
      <ul class="list">
        <li>Bonuses</li>
        <li>Tips</li>
      </ul>
      <p>Pay Frequency is every other Friday.</p>
    </div>
  </div>
  <h2 class="content-subheaders">This Job Is:</h2>
  <div class="body-columns">
    <div class="col col-text-2">
      <ul class="list">
        <li>
          A job for which military experienced candidates are encouraged to
          apply
        </li>
        <li>Open to applicants who do not have a high shool diploma/GED</li>
        <li>
          A good job for someone just entering the workforce or returning to the
          workforce with limited experience and education
        </li>
        <li>Open to applicants who do not have a college diploma</li>
      </ul>
      <p>Job Types: Full Time / Part Time</p>
      <p>Pay: To be discussed</p>
    </div>
  </div>
  <h2 class="content-subheaders">Apply Here:</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <a
        class="button btn-lg"
        target="_blank"
        href="https://forms.gle/TzvWAMNgp4hmmZbD8"
        >Click Here to Start Your Application</a
      >
    </div>
  </div>
</div>
{% endblock content %}
