{% extends "base.html" %} {% block meta %}

<meta name="description" content="Decker's Carpet Cleaning..." />
<title>Decker's Carpet Cleaning Commercial Services</title>
{% endblock meta %} {% load static %} {% block content %}

<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Decker's Carpet Cleaning Commercial Services</h1>
  <div class="resi-cleaning-services">
    <ul class="service-page-services">
      <li>
        <a href="/commercial-carpet-cleaning/">
          <h2>Commercial Carpet Cleaning</h2>
        </a>
      </li>
      <li>
        <a href="/commercial-tile-cleaning/">
          <h2>Commercial Tile Cleaning</h2>
        </a>
      </li>
      <li>
        <a href="/stone/">
          <h2>Commercial Stone Care</h2>
        </a>
      </li>
      <li>
        <a href="/area-rug-cleaning/">
          <h2>Area Rug Cleaning</h2>
        </a>
      </li>
      <!--<li> <a href="/water-damage-extraction/">
                    <h2>Water Extraction & Damage Mitigation</h2>
                </a> </li>-->
    </ul>
  </div>
</div>

{% endblock content %}
