{% extends "base.html" %}

{% block meta %}
<meta name="description"
    content="Decker’s Carpet Cleaning offers professional carpet cleaning & repair, area rug cleaning, tile & grout cleaning, upholstery cleaning, stone care, & more.">
<meta name="keywords" content="Decker's Carpet Cleaning">
<title>Decker's Cleaning Floor and Upholstery Professionals</title>
{% endblock meta %}

{% load static %}

{% block content %}

<img class='van' src="{% static 'img/Deckers-Carpet-Cleaning-Vans.png' %}"
    alt="Decker’s Carpet Cleaning offers Professional Carpet, Tile, Upholstery, and Stone Care">
    <h1>Decker's Carpet Cleaning Professional Floor and Upholstery Care</h1>
<div class="content">
    <div class="breaker"></div>
    <div class="body-columns">
        <div class="body-left">
            <div class="col col-text">
                <p>Decker’s Carpet Cleaning offers a wide range of Residential and Commercial Cleaning Services
                    including:
                </p>
                <ul class="body-serv-list">
                    <li> <a href="#">Carpet Cleaning</a> </li>
                    <li> <a href="#">Carpet Repair and Stretching</a>
                    </li>
                    <li> <a href="#">Pet Stain and Odor Treatment</a> </li>
                    <li> <a href="#">Upholstery Cleaning</a> </li>
                    <li> <a href="#">Upholstery Repair</a> </li>
                    <li> <a href="#">Tile and Grout Cleaning</a> </li>
                    <li> <a href="#">Stone Cleaning and Polishing</a> </li>
                    <li> <a href="">Countertop Polishing and Sealing</a> </li>
                    <li> <a href="#">Shower Cleaning and Sealing</a> </li>
                    <li> <a href="#">Wood Floor Cleaning</a> </li>
                    <li> <a href="#">Strip and Wax</a> </li>
                    <li> <a href="#">Emergency Water Extraction</a> </li>
                </ul>
                <p>Our family owned and operated cleaning business’s mission is to help our neighbors to improve and
                    maintain their homes and work-places, excel in service, deliver over the top results, create
                    enthusiastic fans, and maintain <a href="/why-choose-us/#values">our values and ethics</a>.</p>
            </div>
            <p align='center'><a class="button btn-lg" href="/book-now/">Schedule Your Free
                    Consultation
                    Today!</a></p>
        </div>
        <div class="col col-media">
            <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="contentmedia">
            <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="contentmedia">
        </div>

    </div>
</div>
<div class='services'>
    <a href="/services/"><h2 class="serv">Residential Cleaning Services</h2></a>
    <div class="breaker"></div>
    <div class="servicerow">
        <div class="col col-3"><a href="/"><img class='servpic'
                    src="{% static 'img/carpet-cleaning.png' %}" alt="carpet cleaning"></a>
            <a href="/">
                <h3>Carpet Cleaning</h3>
            </a>
        </div>
        <div class="col col-3"><a href="/"><img class='servpic'
                    src="{% static 'img/Tile-And-Grout-Cleaning.png' %}" alt="tile and grout cleaning"></a>
            <a href="/">
                <h3>Tile and Grout Cleaning</h3>
            </a>
        </div>
        <div class="col col-3"><a href="/"><img class='servpic'
                    src="{% static 'img/upholstery-cleaning.png' %}" alt="upholstery cleaning"></a>
            <a href="/">
                <h3>Upholstery Cleaning</h3>
            </a>
        </div>
        <div class="col col-3"><a href="/"><img class='servpic'
                    src="{% static 'img/stone-and-countertop-cleaning.png' %}" alt="stone and countertop cleaning"></a>
            <a href="/">
                <h3>Stone & Countertop Care</h3>
            </a>
        </div>
        <div class="col col-3"><a href="/"><img class='servpic'
                    src="{% static 'img/Carpet-Repair-Stretching.png' %}" alt="carpet-repair-and-stretching"></a>
            <a href="/">
                <h3>Carpet Repair & Stretching</h3>
            </a>
        </div>
    </div>
</div>
<div class="services">
    <p class="servicetext">We use “industry leading techniques to clean carpet” (internal link), tile, upholstery, and
        stone and proprietary methods to provide you with a “premium cleaning experience” (internal link) that we feel
        no other “local carpet cleaner in Houston” (Internal link) duplicates. <br>
        <br>
        The “safety of your family and pets “(internal link) is of utmost importance to us. We use a biodegradable,
        plant based, soap free, colloidal micelle powered, encapsulating “cleaning solution” (Internal link) that is
        incredibly effective, provides a long lasting clean, yet is safe, gentle, and slows resoiling. We tailor each
        cleaning quote to the specific needs of the carpet using our “hybrid cleaning system” (internal link). In most
        cases, “carpet drying times” (internal link) are within a few hours of completion.
    </p>
    <a class="button btn-lg" href="/services/">Learn More About All of the Services We Offer</a>
</div>
<div class="techs">
    <h2>Professionally Trained Carpet & Upholstery Cleaning Staff</h2>
    <div class="breaker"></div>
    <div class="body-columns">
        <div class="col col-media">
            <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="contentmedia">
        </div>
        <div class="col col-text-2">
            <p>Our background screened, “well trained” (Internal Link), enthusiastic, and experienced cleaners are
                dedicated to providing an amazing experience from start to finish. Our technicians undergo rigorous
                training and certification before they lead their own crew. When our friendly experienced staff use our
                proprietary low moisture process, your carpets dry in a few hours, stay cleaner longer, and the door
                stays shut. <br>
                <br>
                Decker’s Carpet Cleaning is proud of our “company history” (Internal Lik) and have been carpet cleaning
                in Kingwood and the surrounding area since 2011. We have been doing tile and carpet cleaning long enough
                to get to know the unique soil conditions and have developed the best carpet cleaning system to handle a
                wide variety of conditions from “pet hair and dander” (internal link), or “pet urine stains and odor”
                (internal link).
                <br><br>
                We feel that our customers should be delighted by our service and amazed by our results. We stand behind
                our work and our service, and <a href="/why-choose-us/#guarantee">guarantee the quality of the work</a>
                and the “level of professionalism” (internal link). We feel you should be able to choose a “floor
                cleaning service you can trust” (internal link). People like to do business with people they know, and
                local businesses are about people more than anything else. If you like, you can get to know a little bit
                “about us” (internal link) and “our Cleaning Technicians” (Internal lik) with an online biography
            </p>
            <a class="button btn-lg" href="#">Meet Our Staff!</a>
        </div>
    </div>
</div>
<div class="prem-wrap">
    <div class="premium">
        <h2>What To Expect When We Clean Your Home or Business</h2>
        <div class="breaker"></div>
        <div class="body-columns">
            <div class="col col-text-3">
                <p>It is also important that you know “what to expect when we clean your carpet” (internal link). You
                    may also be interested in “tips to preserve your carpet” (internal link), or “what to do after your
                    carpet is cleaned” (Internal link).
                    If you are having “tile cleaning” (Internal link) or “upholstery cleaning” (internal link) done, we
                    also have “tips to prepare for your cleaning crew’s arrival” (internal link) that covers all
                    services.
                    We use “industry leading techniques to clean carpet” (internal link), tile, upholstery, and stone
                    and proprietary methods to provide you with a “premium cleaning experience” (internal link) that we
                    feel no other “local carpet cleaner in Houston” (Internal link) duplicates.
                    <br><br>
                    The safety of your family and pets (internal link) is of utmost importance to us. We use a
                    biodegradable, plant based, soap free, colloidal micelle powered, encapsulating “cleaning solution”
                    (Internal link) that is incredibly effective, yet safe for your family and pets. We tailor each
                    cleaning quote to the specific needs of the carpet using our “hybrid cleaning system” (internal
                    link). In most cases, “carpet drying times” (internal link) are within a few hours of completion.
                    <br><br>
                    If you would like more information on what to expect when we clean your business or church, see our
                    Commercial Services (Internal Link) page.
                </p>
            </div>
            <div class="col col-media-2">
                <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="contentmedia">
            </div>
        </div>
    </div>

    <div class="reviews">
        <p class="anchor" id="reviews/"></p>
        <h2>Carpet and Upholstery Cleaning Reviews</h2>
        <div class="breaker"></div>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-21c830b2-6886-4de1-b918-98bd791d4a3c"></div>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-1dd83a0c-0c7d-4a39-8157-bd9337dc5c9d"></div>
    </div>
</div>
<div class="stay-beautiful">
    <p class="anchor" id="stay-beautiful-club/"></p>
    <h2>The Stay Beautiful Club</h2>
    <div class="breaker"></div>
    <div class="body-columns">
        <div class="col col-text-2">
            <p>We would like the opportunity to help you keep your carpet, furniture, tile, and stone clean and well
                maintained. We offer a wide variety of services to simplify your life and assist in increasing the
                lifespan of your flooring and furniture. <br><br>
                Keep your floors and furniture looking fantastic, clean, and healthy. Decker’s Carpet Cleaning’s
                exclusive Stay Beautiful Club. You can have the best looking floors and furniture in town, save time
                and
                money, and rest easy knowing your home is clean and healthy.</p>
            <a href="/stay-beautiful-club/" class="button btn-lg">Learn More </a>
        </div>
        <div class="col col-media-2">
            <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="contentmedia">
        </div>
    </div>
</div>
<div class="mapblock">
    <h2 class="areas">Decker's Carpet Cleaning Service Area</h2>
    <p class="areas">We serve the Greater Houston, TX area from our main office in Kingwood, TX. Our office is
        located
        on Northpark Drive in the <a href="http://northparkbusinesscenter.com/">Northpark Business Center &
            Storage</a>.
    </p>
    <p align='center'> <iframe class='map'
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.850710324926!2d-95.23102508527228!3d30.06981348187311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86474d58f9f4fbf1%3A0x28be0f0caa893b03!2s1701%20Northpark%20Dr%2C%20Humble%2C%20TX%2077339!5e0!3m2!1sen!2sus!4v1623706747213!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
    <p class="areas">
        We are <a href="/"> Pet Stain and Odor Removal
            Specialists</a> and have designed processes that can <a
            href="/">eliminate your pet odor
            problems.</a> We
        have treated carpet, upholstery, and tile issues ranging from mild pet dander odors and mild urine odor or
        visual stains, all the way to replacing carpet and pad, replacing baseboard and drywall, and cleaning and
        sealing subfloors and studs before repainting. We have <a
            href="/"> multiple levels of urine
            remediation
            services</a> that can be custom oriented to your situation and budget. <br><br>
        Decker’s Carpet Cleaning has been <a href="/service-area/"> cleaning floors and furniture in the Houston
            area
        </a>since 2011 and has served thousands of your neighbors over the years. Many of them have left us <a
            href="/#reviews/">reviews of our services</a> and have referred their friends and family.
    </p>
</div>
{% endblock content %}