{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Meet the carpet cleaning professionals at Decker's Carpet Cleaning."
/>
<meta
  name="keywords"
  content="meet our team, professional technicians, professional carpet cleaners"
/>
<title>Meet Our Team | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Meet Our Cleaning Experts</h1>
  <div class="breaker"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        In our business, we understand the importance of hiring staff members
        that are courteous, friendly, and trustworthy. All of our employees are
        thoroughly screened and properly trained so that you can feel secure
        allowing them into your home.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="carpet cleaning"
        class="contentmedia"
      />
    </div>-->
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">
    Mike Decker - Owner Operator and General Manager
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-media">
      <img
        src="{% static 'img/Carpet Cleaner Kingwood-Mike Exits Van.jpg' %}"
        alt="Mike Exiting Decker's Carpet Cleaning Van"
        class="contentmedia"
      />
    </div>
    <div class="col col-text-2">
      <p>
        Mike started this business in 2011. His passion for providing excellent
        service has been the driving force that keeps the company on track. His
        continuing pursuit of the most advanced techniques in cleaning and
        maintaining all types of flooring ensures that we are prepared to go
        above and beyond to help our clients maintain their homes and
        businesses. <br />
        Mike is certified by the IICRC in Carpet Cleaning, Upholstery Care, and
        Water Damage Restoration; and certified by the Global Biorisk Assessment
        Council for SARS-CoV-2/Covid-19 response and remediation. Mike is
        currently our General Manager, training the cleaning technicians on a
        daily basis and ensuring our customers are delighted with our service
        and results. He and his wife Lissa manage the behind the scenes aspects
        of the business, like marketing and bookkeeping. <br />
        When he's not working, Mike enjoys seeing live music and spending time
        with our family and our dogs Fergus and Ruby.
      </p>
    </div>
  </div>
  <h2 class="content-subheaders">Quinn Decker - Owner Operator</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Quinn handles the daily operation of the business, answering phones and
        scheduling appointments, as well as directing the team. Quinn also
        handles our web design and IT. Quinn started in this business at just 14
        years old, helping Mike and learning the ropes. Certified by the IICRC
        at the age of 16, Quinn has been an integral part of our family business
        since inception. Outside of work, Quinn is a songwriter, recording
        engineer, and performing musician.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="carpet cleaning"
        class="contentmedia"
      />
    </div>-->
  </div>
  <h2 class="content-subheaders">Max Conroy - Team Captain</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Max has been with Decker's Carpet Cleaning since August of 2020. With
        in-depth training on Carpet Cleaning, Upholstery Cleaning, and Hard
        Floor Care, Max serves as a Lead Technician - executing jobs;
        maintaining our equipment; and assisting with vehicle, tool, and shop
        maintenance. Max is our Team Captain - assisting in training and making
        sure new crew members are comfortable and engaged.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="carpet cleaning"
        class="contentmedia"
      />
    </div>-->
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <div class="body-columns">
    <div class="col col-text-2">
      <h3 class="whitetext">
        Interested in joining our team? Visit our
        <a class="whitelinks" target="_blank" href="/careers/">Careers Page</a>
        to find out more and submit an application.
      </h3>
    </div>
  </div>
</div>

{% endblock content %}
