{% extends "base.html" %} {% block meta %}
<meta
  name="description"
  content="Decker's Carpet Cleaning offers professional carpet cleaning & repair, area rug cleaning, tile & grout cleaning, upholstery cleaning, stone care, & more."
/>
<meta
  name="keywords"
  content="Decker's Carpet Cleaning, tile and carpet cleaning, carpet and floor cleaning, carpet cleaning and upholstery, carpet cleaning and repair, rug carpet cleaning, carpet cleaning repair, carpet upholstery, floor carpet cleaning, best rug cleaners near me, rug and carpet cleaning"
/>
<meta name="robots" content="noindex" />
<title>Pricing | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>
<div class="content-wrap">
  <h1>Decker's Carpet Cleaning Pricing</h1>
  <div class="space"><br /></div>
</div>
<div class="pricehead"><h2>Carpet Cleaning Pricing</h2></div>
<section class="price-comparison">
  <div class="price-card">
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        60
        <div class="per">/room</div>
      </div>
      <div class="cleaning-method">Low Moisture Cleaning</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li>Pile Lifting Scrub for Deep Soil Removal</li>
        <li>Detailed Vacuum</li>
        <li>Includes Moving of Light to Medium Furniture</li>
        <li>
          The Most Advanced
          <a
            target="_blank"
            href="https://bonnetpro.com/omega-carpet-encapsulation-detergent/"
            >Low Moisture Cleaning Detergent</a
          >
          Available
        </li>
        <li>Rinseless Bonnet Extraction for Fast Dry Times</li>
        <li>Front Door Stays Closed Throughout Cleaning Process</li>
        <li>Dry with Air Movers</li>
        <li>Groom for pristine finished look</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
    <a
      href="/carpet-cleaning/#low-moisture"
      class="price-card-learn-more"
      target="_blank"
      >Learn more about Low Moisture Cleaning</a
    >
  </div>
  <div class="price-card popular">
    <div class="most-popular">Best Value</div>
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        90
        <div class="per">/room</div>
      </div>
      <div class="cleaning-method">Double Decker</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li style="text-transform: uppercase; font-weight: bolder">
          Two Cleanings in One
        </li>
        <li>Pile Lifting Scrub for Deep Soil Removal</li>
        <li>Detailed Vacuum</li>
        <li>Includes Moving of Light to Medium Furniture</li>
        <li>
          Time Proven
          <a
            target="_blank"
            href="https://www.saigers.com/tile-and-carpet-cleaners/saigers-sauce-products/saigers-sauce-1-free-and-clear-case"
            >Deep Cleaning Detergent</a
          >
        </li>
        <li>Emulsifying Rinse to leave your carpet fresh and residue free</li>
        <li>
          The Most Advanced
          <a
            target="_blank"
            href="https://bonnetpro.com/omega-carpet-encapsulation-detergent/"
            >Low Moisture Cleaning Detergent</a
          >
          Available
        </li>
        <li>Rinseless Bonnet Extraction for Fast Dry Times</li>
        <li>Dry with Air Movers</li>
        <li>Groom for pristine finished look</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
    <a
      href="/carpet-cleaning/#double-decker"
      class="price-card-learn-more"
      target="_blank"
      >Learn more about the "Double Decker"</a
    >
  </div>
  <div class="price-card">
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        60
        <div class="per">/room</div>
      </div>
      <div class="cleaning-method">Hot Water Extraction</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li>Pile Lifting Scrub for Deep Soil Removal</li>
        <li>Detailed Vacuum</li>
        <li>Includes Moving of Light to Medium Furniture</li>
        <li>
          Time Proven
          <a
            target="_blank"
            href="https://www.saigers.com/tile-and-carpet-cleaners/saigers-sauce-products/saigers-sauce-1-free-and-clear-case"
            >Deep Cleaning Detergent</a
          >
        </li>
        <li>Emulsifying Rinse to leave your carpet fresh and residue free</li>
        <li>Dry with Air Movers</li>
        <li>Groom for pristine finished look</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
    <a
      href="/carpet-cleaning/#hwe"
      class="price-card-learn-more"
      target="_blank"
      >Learn more about Hot Water Extraction</a
    >
  </div>
</section>
<div class="content-wrap lower">
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        A room is an area up to 200 sqare feet. Generally, larger areas such as
        Master Bedrooms, Family Rooms, Game Rooms count as 1.5 rooms while
        smaller areas such as Secondary Bedrooms, Dining Rooms, Offices count as
        1 room. Staircases generally count as 1 room. Closets are measured and
        added to the size of the room and only incur an additional charge if it
        pushes the room into the next pricing bracket.
      </p>
      <p>
        A further breakdown of our room sizing is as follows: <br />
        Under 100 Sq Ft - . 5 room <br />
        100-200 Sq Ft - 1 room <br />
        200-300 Sq Ft - 1 . 5 rooms <br />
        300-400 Sq Ft - 2 rooms
      </p>
      <p>
        We may recommend additional treatments upon inspection, however anything
        beyond a standard carpet cleaning (60/room) is completely optional. Some
        possible optional services include:
      </p>
      <ul class="list">
        <li>
          Peroxide additive for tannin stains such as coffee, tea and urine,
          body oils, and general cleaning boosting - 5/room
        </li>
        <li>
          Fresh Wave Deodorizer, odor eliminator with no harsh lingering scent -
          10/room
        </li>
        <li>
          Carpet Scrub, performed after application of cleaning detergent to
          work in solution for heavy traffic lanes and stubborn spots - 20/room
        </li>
        <li>
          <a target="_blank" class="whitelinks" href="/advanced-spot-treatment">
            Advanced Stain Treatment</a
          >
        </li>
        <li>
          <a class="whitelinks" target="_blank" href="/carpet-protector/"
            >Carpet Protector</a
          >
        </li>
      </ul>
      <p>
        All cleaning methods and additional services are priced and recommended
        on a per-room basis. Meaning we will only recommend cleaning options and
        additional services for the rooms that we determine will benefit from
        them based on our inspection of the carpet in each room.
      </p>
      <p>
        You can learn more about all of the Carpet Cleaning services we offer
        <a href="/carpet/" class="whitelinks" target="_blank">here.</a>
      </p>
      <div class="schedulebtn">
        <a class="button btn-lg" href="/book-now/"
          >Schedule Your Free Consultation Today!</a
        >
      </div>
    </div>
  </div>
</div>
<div class="pricehead"><h2>Tile Cleaning Pricing</h2></div>
<section class="price-comparison">
  <div class="price-card">
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        0.75
        <div class="per">/square foot</div>
      </div>
      <div class="cleaning-method">Alkaline Cleaning</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li>Pre-inspection</li>
        <li>Dry Soil Removal</li>
        <li>
          Powerful Cleaning Solution neutralizes grime, grease, dirt, and
          bacteria
        </li>
        <li>Agitation of grout lines to work in cleaning solution</li>
        <li>Detailed Cleaning of grout lines and edges</li>
        <li>High-psi Truck Mounted Rinse</li>
        <li>Residue Free</li>
        <li>Dry with Air Movers</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
  </div>
  <div class="price-card popular">
    <div class="most-popular">Best Value</div>
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        1.50
        <div class="per">/square foot</div>
      </div>
      <div class="cleaning-method">Double Decker Tile Cleaning</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li style="text-transform: uppercase; font-weight: bolder">
          Two Cleanings in One
        </li>
        <li>Pre-inspection</li>
        <li>Dry Soil Removal</li>
        <li>
          Powerful Cleaning Solution neutralizes grime, grease, dirt, and
          bacteria
        </li>
        <li>Agitation of grout lines to work in cleaning solution</li>
        <li>High-psi Truck Mounted Rinse</li>
        <li>
          Powerful Acidic Cleaning Solution opens up pores of grout for a deeper
          clean
        </li>
        <li>Detailed Cleaning of grout lines and edges</li>
        <li>Second High-psi Truck Mounted Rinse</li>
        <li>Residue Free</li>
        <li>Dry with Air Movers</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
  </div>
  <div class="price-card">
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">$</div>
        1
        <div class="per">/square foot</div>
      </div>
      <div class="cleaning-method">Acid Cleaning</div>
    </div>
    <div class="breaker-3"></div>
    <div class="features">
      <ul class="list">
        <li>Pre-inspection</li>
        <li>Dry Soil Removal</li>
        <li>
          Powerful Acidic Cleaning Solution opens up pores of grout for a deeper
          clean
        </li>
        <li>Agitation of grout lines to work in cleaning solution</li>
        <li>Detailed Cleaning of grout lines and edges</li>
        <li>High-psi Truck Mounted Rinse</li>
        <li>Residue Free</li>
        <li>Dry with Air Movers</li>
        <li>Post-Cleaning Inspection</li>
      </ul>
    </div>
    <a href="/book-now/"><button class="cta">Book Now!</button></a>
  </div>
</section>
<div class="content-wrap lower">
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        It is recommended that that tile floors be cleaned every one to three
        years. Different floors require different levels of maintenance. We may
        recommend Acid Cleaning or the Double-Decker Tile Cleaning upon
        inspection, however anything beyond an Alkaline Cleaning is completely
        optional. Which cleaning we will recommend depends on a few factors such
        as how long it has been since the floor was last cleaned or installed,
        and the condition of the tile and grout upon our initial inspection. We
        may also recommend additional treatments such as:
      </p>
      <ul class="list">
        <li>
          Additional mechanical scrubbing with a counter rotating brush or
          orbital scrubber, or hand scrubbing with grout brushes to further
          loosen ground in dirt, soil and grime.
        </li>
        <li>
          We also offer
          <a class="whitelinks" target="_blank" href="/grout-sealing/"
            >Grout Sealing</a
          >. Sealing the grout lines after a professional tile cleaning is
          highly recommended, as it helps to protect the floor long term from
          any stains, or gradual deterioration over time.
        </li>
      </ul>
      <p>
        All cleaning methods and additional services are recommended on a
        per-room basis. Meaning we will only recommend cleaning options and
        additional services for the rooms that we determine will benefit from
        them based on our inspection of the tile and grout in each room.
      </p>
      <p>
        You can learn more about all of the Tile and Grout services we offer
        <a href="/tile/" class="whitelinks" target="_blank">here.</a>
      </p>
      <div class="schedulebtn">
        <a class="button btn-lg" href="/book-now/"
          >Schedule Your Free Consultation Today!</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
