{% extends "base.html" %} {% block meta %}

<meta name="description" content="Decker's Carpet Cleaning Privacy Policy" />
<meta name="keywords" content="privacy policy" />
<meta name="robots" content="noindex" />
<title>Privacy Policy | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Privacy Policy</h1>
  <div class="breaker"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      Decker's Carpet Cleaning collects e-mail addresses and other personal
      information in order to contact you with marketing materials, special
      offers, information, and recommendations related to our core business. We
      use cookies to track customer visits for retargeting purposes. We use
      anonymous (hashed) customer data to build audiences based on previous
      users. We do not and will not sell or transfer your customer information.
      We do keep it safe using protected CRM software. We don't like spam either
      and strive to keep our mailings to a minimum. Use of any of our products,
      services, videos, web sites, social media, contact forms, e-mail, blogs,
      reviews forms, or other media implies that you accept these Privacy Policy
      conditions and provide permission to use your anonymous data for marketing
      purposes, and your personal data to contact you directly. If you do not
      accept these conditions, please discontinue use of our media and contact
      us directly by phone. If at any time you want to stop receiving our emails
      or change your information we have on file, you may contact us at
      service@deckerscarpetcleaning.com and ask to be removed or updated. You
      may also call us or write to us at:
    </div>
  </div>
</div>

{% endblock content %}
