{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Granite Countertop Cleaning, and Polishing services from Decker's Carpet Cleaning."
/>
<meta name="keywords" content="Granite Countertops, Counters, Countertops" />
<title>Granite Countertops | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Granite Countertop Services</h1>
  <div class="breaker"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Granite has been used in building since the Ancient Egyptians. From one
        of the largest of the Egyptian Pyramids, through 11th century Indian
        Temples, to Aberdeen Scotland where mechanical stone cutting tools were
        first used, granite has long been a popular choice when a durable but
        beautiful stone is desired. Granite is a dense and durable igneous rock
        made of mostly feldspar, quartz, and mica. Different minerals from
        different areas of the world will produce different colors in the stone
        and also different reactions to daily use and cleaning methods.
      </p>
      <p>
        Granite countertops first appeared in homes in the late 1970's and has
        continued to grow in popularity. Roughly 65% of new homes include
        granite countertops. Granite is a durable choice for busy homes with a
        high resistance to heat, but like any surface - there are limitations:
      </p>
      <ul class="list">
        <li>
          Granite can be damaged through the use of abrasive or incorrect
          cleaners.
        </li>
        <li>
          Many cleaners can leave a filmy residue that builds up over time and
          obscures the natural beauty of the crystalline structure of the stone.
        </li>
        <li>
          Granite can lose its shine over time due to slight scuff marks and
          scratches.
        </li>
        <li>
          Granite counters are often damaged around the food prep area when
          cutting foods, especially acidic foods such as lemons, limes, and
          oranges.
        </li>
        <li>Heavy pots and pans can scratch the granite.</li>
        <li>Granite can develop chipped edges or chips around the sink.</li>
      </ul>
      <p>
        Water deposits can also leave unsightly spots on your granite. This
        usually builds up around the faucets but can also be present around the
        sink and stove prep areas. Over time this damage can become permanent.
        And, as all stone is porous to some degree, granite can be stained by
        soaps and rust from regular products around the sink. Thankfully,
        granite counter tops are quite hard and respond well to cleaning and
        polishing. Stone is rated for hardness on a scale known as the Moh's
        Scale of Hardness. Talc is the softest natural stone, ranking a 1 and
        diamonds are a 10 on the Moh's scale. Granite will test between 5 and 6,
        generally on the higher end, but that will depend on the actual mineral
        content of each individual slab of granite. To put this knowledge to
        practical use, understand that the softer object will be scratched by
        the harder object when the two come in contact with a slight amount of
        force. A knife blade will be about 5.5 and steel will be about 6.5 on
        the hardness scale. Most granite counters will be scratched by steel,
        such as some pots and pans, and many will be scratched by a knife.
        Introduce acidic foods and a knife and you will surely damage the
        granite.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/Color Seal-Before.jpg' %}"
        alt="Discolored Grout Before Grout Recoloring"
        class="contentmedia"
      />
    </div>-->
  </div>
  <p class="tagline">
    If your granite countertops have accumulated scratches or buildup over time,
    we have the proper knowledge and methods to restore the clean feeling and
    deep luster you once loved about it.
  </p>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">Granite Countertop Cleaning</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <!--<div class="col col-media">
      <img
        src="{% static 'img/Color Seal-Before.jpg' %}"
        alt="Discolored Grout Before Grout Recoloring"
        class="contentmedia"
      />
    </div>-->
    <div class="col col-text-2">
      <p>
        Decker's Carpet Cleaning will deep clean your granite using proper pH
        balanced cleaning solutions that will remove years of built up soil,
        oils, and hard water deposits. We remove the scale buildup around the
        faucets and in other areas as needed. We also remove bits of paint and
        many other imperfections. This will improve the appearance of your
        countertop and help preserve it for the life of the home.
      </p>
      <p>
        Deep cleaning is necessary every one to two years and will remove dirt
        and grime from the surface and capillaries of the stone.
      </p>
      <p>
        Some granite countertops have stains from rust, soap, wine, or other
        items that are soaked in. Sometimes these spots remove with a deep
        cleaning, but many times they may require a poultice to draw the stain
        out. Stains such as these are discussed as needed and priced on site as
        the situation presents itself.
      </p>
      <p>
        Cleaning is generally followed by polishing, and should always be
        followed by sealing to protect the stone.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">Granite Countertop Polishing</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        We can follow a Granite Cleaning with a granite polish to really bring
        out the shine and accentuate the stone's inner beauty. When we polish
        your granite, you will notice the colors will be richer and the mica
        flecks sparkle. The quartz crystals will look deeper and reflections
        will be clearer. You will also notice less fingerprints left behind and
        that it will clean easier when you do your regular maintenance.
      </p>
      <p>
        When we hand polish your granite counters, we use various polishing
        powders and pastes, power hand tools, and various pads such as a hogs
        hair, lambs wool, 0000 fine steel wool, or felt.
      </p>
      <p>
        Granite countertop polishing will remove slight scratches and improve
        the reflective quality of the stone. Polishing granite will not remove
        scratches or pitting that you can feel with your fingertip. For damage
        that deep, honing is required. We offer granite honing on a case by case
        basis and will require an evaluation.
      </p>
      <p>
        Granite countertop polishing will not repair ugly seams or cracks.
        Granite repair is possible, but is discussed on a case by case basis and
        will require an evaluation.
      </p>
      <p>
        Granite polishing will not remove chips in granite. Granite is hard, but
        can chip if the edges are bumped too hard with a harder object. If you
        have chips in your granite - whether they are chips around the sink or
        chipped edges, we offer granite repair on a case by case basis and will
        require an evaluation.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/Color Seal-Before.jpg' %}"
        alt="Discolored Grout Before Grout Recoloring"
        class="contentmedia"
      />
    </div>-->
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">Granite Countertop Sealing</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <!--<div class="col col-media">
      <img
        src="{% static 'img/Color Seal-Before.jpg' %}"
        alt="Discolored Grout Before Grout Recoloring"
        class="contentmedia"
      />
    </div>-->
    <div class="col col-text-2">
      <p>
        Finally, we provide stone sealing to protect the stone from damage due
        to spills and acids. We use a Solvent-based penetrating
        fluorinated-polymer technology which will increase the surface tension
        and help prevent oil and water based spills from staining.
      </p>
      <p>
        Sealing your stone with a clear impregnating sealer will help it last
        longer and clean easier. We always recommend sealing the counter after
        cleaning and or polishing. Granite countertops require cleaning and
        resealing every one to two years in general.
      </p>
    </div>
  </div>
  <h2 class="content-subheaders">Granite Countertop Maintenance</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Maintenance of your granite counters includes regular housekeeping
        cleaning and periodic professional detail cleaning or light polishing to
        restore the finish. Maintenance cleaning should be done using proper
        techniques and a pH neutral cleaning solution specifically designed for
        stone. We can provide a list of suggested products to maintain your
        granite countertops. We're always available to answer your questions
        regarding the maintenance of any surface in your home.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <a href="/stone-floor-cleaning/" class="whitelinks" target="_blank"
    >Stone Floor Cleaning</a
  ><br />
  <a
    href="/stone-honing-polishing-restoration/"
    class="whitelinks"
    target="_blank"
    >Stone Honing Polishing and Restoration</a
  ><br />
  <a href="/stone-sealers/" class="whitelinks" target="_blank">Stone Sealers</a
  ><br />
  <a href="/stone-repair/" class="whitelinks" target="_blank">Stone Repair</a>
  <br />
  <a href="/stay-beautiful-club/" class="whitelinks" target="_blank"
    >Stay Beautiful Club - Maintenance Program</a
  ><br />
  <div class="space"><br /></div>
</div>
{% endblock content %}
