{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Is your Stone Floor losing its beautiful shine? Consider Stone Honing and Polishing services from Decker's Carpet Cleaning!"
/>
<meta
  name="keywords"
  content="Stone, Stone Polishing, Stone Honing, Stone Restoration"
/>
<title>
  Stone Honing, Polishing and Restoration | Decker's Carpet Cleaning
</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>
    Professional Stone Floor Honing and Polishing Services From Decker's Carpet
    Cleaning
  </h1>
  <div class="breaker"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Stone floors such as Marble, Travertine, and Limestone (MTL) are porous
        and will absorb liquid and soils. Eventually, these soils become so deep
        that even aggressive cleaning methods may not remove them. It is
        important to keep up with your stone floor maintenance to prevent
        further damage. Many times our customers desire a deeper clean to remove
        stains, or need to remove damage from dragged furniture, improper use of
        cleaning agents causing hazing, or just everyday wear.
      </p>
      <p>
        Decker's Carpet Cleaning has been cleaning, honing, polishing, and
        sealing stone floors
        <a
          class="whitelinks"
          href="https://g.page/r/CV4Ndu9glPmfEAE"
          target="_blank"
          >in the Houston area</a
        >
        since 2011. We have experience with many different stone floor
        scenarios, and have
        <a class="whitelinks" href="/why-choose-us/" target="_blank"
          >650 reviews from your neighbors.</a
        >
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/StoneCleaning-CleanStone.png' %}"
        alt="Honed and Reflective Stone Floor"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">About Marble, Travertine and Limestone</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Marble, travertine, and limestone floors are all related, but are
        products of different stages of geological processes. Limestone is a
        sedimentary rock composed of calcium carbonate. It is not uncommon to
        see shells and fossils in limestone. Over time with additional pressure
        and the addition of mineral content, limestone becomes travertine. The
        location of the travertine will determine the mineral composition and
        give it different hues.
      </p>
      <p>
        Marble is a metamorphic rock. Over ages of time and immense heat and
        pressure the calcite in limestone will melt and recrystallize. When this
        happens, the limestone becomes denser and harder and develops rich
        colors from the additional mineral content. The varied mineral content
        will give marble its unique color and veins while the crystal formations
        give it its depth and sparkle.
      </p>
      <p>
        Stone is rated for hardness on a scale known as the Moh's Scale of
        Hardness. Talc is the softest natural stone, ranking a 1 and diamonds
        are a 10 on the Moh's scale. Marble, Travertine, and limestone range on
        the hardness scale from 2 to 4.
      </p>
    </div>
  </div>
  <h2 class="content-subheaders">Marble, Travertine and Limestone Honing</h2>
  <div class="body-columns">
    <!--<div class="col col-media">
      <img
        src="{% static 'img/StoneCleaning-CleanStone.png' %}"
        alt="Honed and Reflective Stone Floor"
        class="contentmedia"
      />
    </div>-->
    <div class="col col-text-2">
      <p>
        Marble, Travertine, and Limestone floors are easily scratched, and can
        quickly become dull or damaged by even general household soil and
        traffic. The calcium in MTL stone floors makes them sensitive to acid
        and can become etched by household spills like juice and vinegar. MTL
        Stone floors are also sensitive to alkaline and many cleaning solutions
        can etch or burn the stone if misused, leaving a difficult to remove
        hazed look. Once a stone floor becomes neglected, it needs professional
        tools and experience to revive it.
      </p>
      <p>
        Marble, Travertine, and Limestone floors can be polished or honed to
        remove scratches, etching, haze, and pitting. At Decker's Carpet
        Cleaning we use diamond impregnated pads, diamond embedded resin discs,
        and various powders and pads to hone a stone floor. Honing can be
        thought of as similar to sanding wood to remove the rough texture and
        leave a smooth finish. The deeper you hone, the deeper the level of
        damage you can remove. Different levels of coarseness are used to remove
        scratches of different depths. Sometimes we only need one or two levels,
        and sometimes six or more. <br />
        A finished honed floor will have a Matte or Flat reflection. A less
        reflective floor will hide slight scratches and wear, but may absorb
        soils faster.
      </p>
      <p>
        Honing is done when a surface has light to heavy scratches and traffic
        wear and may need to be done every five to twenty years depending on
        care and traffic. Honing will leave the stone with a flat to matte
        finish depending on the level of reflection desired. Honing leaves very
        open pores and stone should be sealed. Aside from removing damage,
        honing will also bring out the natural colors in the stone and deliver a
        reflective quality from flat to matte. You will notice the colors will
        be richer and deeper and the calcite crystal formations will contrast
        the non-crystal areas.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">
    Marble, Travertine, and Limestone Polishing
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Polishing stone will bring a semi gloss to high gloss finish, depending
        on your desired results and how the stone responds to diamond or powder
        polishing. Polishing will also help to protect your stone even further
        by closing the face of the stone and decreasing the porosity. Polishing
        is done mechanically, similar to honing, and never through a shiny
        coating. The finish will lose its reflective quality over time due to
        traffic, soils and the use of harsh cleaning solutions. A polished stone
        that has dulled can be quickly touched up and re-polished up again to
        keep it beautiful and protected. Polishing seals the pores more than
        honing, but stone should still be sealed afterwards.
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/Polished-Marble-Table.jpg' %}"
        alt="Honed and Reflective Marble Table"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h3 class="content-subheaders">A Stone Floor Maintenance Plan</h3>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <ul class="list">
        <li>
          Regular and ongoing proper maintenance is needed once your stone is
          polished and sealed
        </li>
        <li>
          A good maintenance plan takes into account the level of traffic and
          desire and budget of the client, but also serves to preserve your
          stone for the sake of the stone for the long term.
        </li>
        <li>
          For honed and polished floors, we recommend a maintenance hone or
          polish every year or so to keep the floor looking amazing and reduce
          the damage from light scratching. We recommend using the highest
          quality sealer possible after each maintenance visit.
        </li>
        <li>
          We can polish your stone prior to a party, wedding, or other big event
          to make your home reflect its beauty.
        </li>
        <li>
          We recommend a professional cleaning at least every three years. At
          the three year mark oils, sand and dust particles, and soil begin to
          reach depths that make it very hard to remove without honing. Cleaning
          every three years or less will preserve your stone and prolong its
          life and good looks.
        </li>
        <li>
          Your stone should be sealed after every professional cleaning, and may
          need to be sealed after polishing. We prefer a solvent based
          impregnating sealer that will protect your stone by penetrating deep
          into the stone to fill voids, crevices, capillaries, and pores. We
          also enjoy color enhancing sealers that help add an incredible beauty
          to some honed and polished stone.
        </li>
      </ul>
      <p>
        All stone should be sealed after treating. Whether it is cleaned, honed,
        or polished, the stone is naturally porous and has capillaries that will
        allow soil, soaps, particles, urine from pets, liquid spills, and dirty
        mop or rain water to penetrate deep into the stone. Sealing will slow
        the penetration of these contaminants and reduce damage from acids and
        oils. Our professional grade sealers are rated to last from 3 to 5
        years. We offer a variety of sealers for different situations, including
        color enhancing sealer. You can read about all of the sealers we offer
        on our
        <a class="whitelinks" href="/stone-sealers/">Stone Sealer page</a>.
      </p>
      <p>
        We also offer
        <a class="whitelinks" target="_blank" href="/stone-floor-cleaning"
          >Stone Floor Cleaning</a
        >
        and
        <a class="whitelinks" target="_blank" href="/stone-repair/"
          >Stone Repair</a
        >
        services.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h4 class="content-subheaders">All Stone Services:</h4>
  <div class="breaker-2"></div>
  <a href="/stone-floor-cleaning/" class="whitelinks" target="_blank"
    >Stone Floor Cleaning</a
  ><br />
  <a href="/stone-sealers/" class="whitelinks" target="_blank">Stone Sealers</a
  ><br />
  <a href="/granite-countertops/" class="whitelinks" target="_blank"
    >Granite Countertops</a
  >
  <br />
  <a href="/stone-repair/" class="whitelinks" target="_blank">Stone Repair</a>
  <br />
  <a href="/stay-beautiful-club/" class="whitelinks" target="_blank"
    >Stay Beautiful Club - Maintenance Program</a
  ><br />
  <div class="space"><br /></div>
</div>
{% endblock content %}
