{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Protect your Stone Floors and Countertops with Stone Sealing Services from Decker's Carpet Cleaning."
/>
<meta
  name="keywords"
  content="Stone Floor, Granite Countertop Sealing, Countertop Sealing, Stone Sealing, Impregnating Sealer, Stone Sealer, Color Enhancing Sealer"
/>
<title>Stone Sealers | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Stone Sealing and Stone Sealers</h1>
  <div class="breaker"></div>
  <p class="tagline">
    Protect your Stone Floors with Stone Sealing Services from Decker's Carpet
    Cleaning.
  </p>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Sealing your stone floors and countertops once they have been cleaned is
        a crucial part of protecting the long term investment in your home, and
        in your Travertine, Marble, Slate, Terrazo and Saltillo floors as well
        as Granite Countertops. There are many different types of sealers that
        all seal the stone in different ways, and different types of stone
        require different types of protection. You can trust the experts at
        Decker's Carpet Cleaning to properly determine the correct stone sealer
        for your floor. We have been cleaning and sealing stone floors and
        countertops since 2011 in the Kingwood and greater Houston area and have
        <a class="whitelinks" href="/why-choose-us/#reviews" target="_blank"
          >650 reviews from your neighbors.</a
        >
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/StoneCleaning-CleanStone.png' %}"
        alt="Clean and Sealed Reflective Stone Floor"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <div class="whitetext">
    <h2 class="content-subheaders">Benefits of our Stone Sealing Service:</h2>
    <ul class="list">
      <li>
        <a class="whitelinks" href="/why-choose-us/#guarantee" target="_blank">
          "We Put Our Name On It" Guarantee
        </a>
      </li>
      <li>
        <a class="whitelinks" href="/why-choose-us/#warranty" target="_blank">
          30 Day Spot and Spill "Life Happens" Waranty
        </a>
      </li>
      <li>Prolong the life of your stone floors and countertops</li>
      <li>Enhance the look of your stone floors and countertops</li>
      <li>Protect your long term flooring investment</li>
      <li>
        Our professional grade sealers are rated to last from 3 to 5 years.
      </li>
    </ul>
  </div>
  <h2 class="content-subheaders">
    Why Do I Need to Seal my Stone Floors and Countertops?
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="placeholder"
        class="contentmedia"
      />
    </div>-->
    <div class="col col-text-2">
      <p>
        When it comes to Stone Floors and Countertops, it is crucial to apply
        Stone Sealer to them once they are cleaned. While it is an optional
        service, it is very highly recommended as it can be damaging to the
        short and long term integrity of the stone leaving them unsealed.
      </p>
      <p>
        While there are many different types of stone, they all have one thing
        in common. All natural stone is porous. This means that over time dirt,
        soil, bacteria, cleaning solutions, spills, grime, and anything your
        floors or counters are exposed to on a daily basis can sink into the
        stone causing irreversible damage. Professional cleaning methods, such
        as our
        <a target="_blank" class="whitelinks" href="/stone-floor-cleaning/"
          >Stone Cleaning</a
        >
        services can be used to reverse short term damage, however once the
        soils sink in far enough it can be irreversible. In one of the worst
        case scenarios, acidic materials such as vinegar, citrus, coffee, or pet
        urine, and even some household alkaline cleaning solutions may cause
        etching if spilled on or applied to unsealed stone. Physical damage such
        as etching may be remediated through
        <a
          target="_blank"
          class="whitelinks"
          href="/stone-honing-polishing-restoration/"
          >Stone Honing and Polishing</a
        >.
      </p>
      <p>
        Applying Stone Sealers is also beneficial for the long term look of the
        stone. Professional cleaning methods can be used to reverse short term
        soiling on unsealed stone, however once the soils sink in far enough,
        the damage can be irreversible. Applying stone sealer after each
        cleaning makes soil removal easier between cleanings as it does not give
        dirt the chance to sink into the porous stone and grout lines, and
        allows for better results with each professional cleaning as it is not
        an uphill battle to remove deeply penetrated soil.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">Different Types of Stone Sealers</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        There are many different types of stone sealers, all protecting
        different types of stone in different ways.
      </p>
      <ul class="list">
        <li>
          Impregnating Sealer - Also known as solvent based sealer, this sealer
          is commonly used to protect marble, travertine, limestone, and granite
          floors and countertops. It will not change the look of the floor in
          any way, but does an excellent job ad providing protection against
          damage from spills, dirt, soils, and water based stains.
        </li>
        <li>
          Color Enhancing Sealer - Generally used on Slate Floors to bring out
          the deep, rich colors that are inside the stone, but can be used on
          any type of floor or countertop.
        </li>
        <li>
          Saltillo Sealer - Sealer for saltillo floors is unique in that it is a
          wax coating sealer. This is the only type of floor where a wax is
          permissible for sealing, however it must be one rated specifically for
          saltillo, and applied with the utmost care to ensure an even coating
          for protection and shine.
        </li>
      </ul>
      <p>
        For damage that goes beyond soils, staining, and scratches, we also
        offer
        <a target="_blank" class="whitelinks" href="/stone-repair/"
          >Stone Repair</a
        >.
      </p>
    </div>
    <!--<div class="col col-media">
      <p>Limestone Before Color Enhancing Sealer:</p>
      <img
        src="{% static 'img/Before Color Enhancing Seal Application- Limestone.jpg' %}"
        alt="Dull Limestone Tile Before Color Sealing Application"
        class="contentmedia"
      />
      <p>Limestone With Color Enhancing Sealer Applied:</p>
      <img
        src="{% static 'img/Color Enhancing Sealer Applied - Limestone.jpg' %}"
        alt="Limestone Tile With Rich Color because of Color Enhancing Sealer"
        class="contentmedia"
      />
    </div>-->
  </div>
  <div class="body-columns">
    <div class="col col-media">
      <h4 class="whitetext">Limestone Before Color Enhancing Sealer:</h4>
      <img
        src="{% static 'img/Before Color Enhancing Seal Application- Limestone.jpg' %}"
        alt="Dull Limestone Tile Before Color Sealing Application"
        class="contentmedia"
      />
    </div>
    <div class="col col-media">
      <h4 class="whitetext">Limestone With Color Enhancing Sealer Applied:</h4>
      <img
        src="{% static 'img/Color Enhancing Sealer Applied - Limestone.jpg' %}"
        alt="Limestone Tile With Rich Color because of Color Enhancing Sealer"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h4 class="content-subheaders">All Stone Services:</h4>
  <div class="breaker-2"></div>
  <a href="/stone-floor-cleaning/" class="whitelinks" target="_blank"
    >Stone Floor Cleaning</a
  ><br />
  <a
    href="/stone-honing-polishing-restoration/"
    class="whitelinks"
    target="_blank"
    >Stone Honing Polishing and Restoration</a
  ><br />
  <a href="/granite-countertops/" class="whitelinks" target="_blank"
    >Granite Countertops</a
  >
  <br />
  <a href="/stone-repair/" class="whitelinks" target="_blank">Stone Repair</a>
  <br />
  <a href="/stay-beautiful-club/" class="whitelinks" target="_blank"
    >Stay Beautiful Club - Maintenance Program</a
  ><br />
  <div class="space"><br /></div>
</div>
{% endblock content %}
