{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Thinking about replacing your carpet? Consider restorative cleaning. We offer stretching and repair. Pet stain and odor specialists. Free Estimate."
/>
<meta
  name="keywords"
  content="Carpet, Carpet Cleaning, Carpet Repair, Carpet Service, Carpet Stretching, Replace Carpet, Carpet Restoration"
/>
<title>Carpet Cleaning and Repair | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>
<div
  class="service-page-banner"
  style="
    background-image: url('/static/img/Carpet-Cleaning-Banner-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  "
>
  <h1>Professional Carpet Cleaning and Repair Services</h1>
  <p id="smaller" class="text">
    Don't replace your carpet when Decker's Carpet Cleaning can restore it!
    <br />
    Our technicians are trained in a wide range of carpet cleaning and carpet
    repair services.
  </p>
  <div class="breaker"></div>
  <div class="col col-servpagenav">
    <ul class="service-page-services">
      <li>
        <a href="/carpet-cleaning/">
          <h2>Carpet Cleaning</h2>
        </a>
      </li>
      <li>
        <a href="/carpet-cleaning/pet-stain-odor-treatment/">
          <h2>Pet Stain and Odor Treatment</h2>
        </a>
      </li>
      <li>
        <a href="/advanced-spot-treatment/">
          <h2>Advanced Spot Treatment</h2>
        </a>
      </li>
      <li>
        <a href="/carpet-protector"><h2>Carpet Protector</h2></a>
      </li>
      <li>
        <a href="/carpet-stretching/">
          <h2>Carpet Stretching</h2>
        </a>
      </li>
      <li>
        <a href="/carpet-repair/">
          <h2>Carpet Repair</h2>
        </a>
      </li>
      <li>
        <a href="/area-rug-cleaning/">
          <h2>Area Rug Cleaning</h2>
        </a>
      </li>
      <!--<li>
        <a href="/water-damage-extraction/">
          <h2>Water Extraction & Damage Mitigation</h2>
        </a>
      </li>-->
      <li>
        <a href="/stay-beautiful-club/">
          <h2>Stay Beautiful Club</h2>
        </a>
      </li>
      <li>
        <a href="/commercial-carpet-cleaning/">
          <h2>Commercial Carpet Cleaning</h2>
        </a>
      </li>
    </ul>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
</div>

{% endblock content %}
