{% extends "base.html" %} {% block meta %}
<meta
  name="description"
  content="Dirty Grout? Sticky Stone? Dull, scratched, and faded stone floor? We can help! Don't replace your stone until you read this. Free consultation."
/>
<meta
  name="keywords"
  content="Stone Floor Cleaning, Stone Cleaner, Granite Countertop Cleaning, Stone Polishing, travertine cleaning, marble floor cleaning, marble polish"
/>
<title>Expert Stone Cleaning, Polishing, and Repair Services</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>
<div class="service-page-banner" id="stone-banner">
  <h1>
    Professional Stone Floor, Shower, and Countertop Cleaning and Polishing
  </h1>
  <p id="extra-small" class="text">
    Don't replace your stone floor, backsplash, countertop or shower when
    Decker's Carpet Cleaning can restore it! <br />
    Our technicians are trained in a wide range of stone cleaning, sealing,
    maintenance, and repair services. <br />
    We clean and polish marble, travertine, limestone, granite, terrazzo, slate,
    flagstone, saltillo, and many other stone floors.
  </p>
  <div class="breaker"></div>
  <div class="col col-servpagenav">
    <ul id="stone-serv-list" class="service-page-services">
      <li>
        <a href="/stone-floor-cleaning/">
          <h2>Stone Floor Cleaning</h2>
        </a>
      </li>
      <li>
        <a href="/stone-honing-polishing-restoration/">
          <h2>Stone Honing, Polishing, and Restoration</h2>
        </a>
      </li>
      <li>
        <a href="/stone-sealers/">
          <h2>Stone Sealers</h2>
        </a>
      </li>
      <li>
        <a href="/granite-countertops/">
          <h2>Granite Countertops</h2>
        </a>
      </li>
      <!--<li>
        <a href="/marble-travertine-limestone/">
          <h2>Marble, Travertine, and Limestone</h2>
        </a>
      </li>-->
      <!--<li>
        <a href="/stone-backsplash-cleaning-and-sealing/">
          <h2>Stone Backsplash Cleaning and Sealing</h2>
        </a>
      </li>-->
      <li>
        <a href="/stone-repair/">
          <h2>Stone Repair</h2>
        </a>
      </li>
      <!--<li>
        <a href="/water-damage-extraction">
          <h2>Water Extraction & Damage Mitigation</h2>
        </a>
      </li>-->
      <li>
        <a href="/stay-beautiful-club/">
          <h2>Stay Beautiful Club</h2>
        </a>
      </li>
      <!--<li>
        <a href="/commercial-stone-care/">
          <h2>Commercial Stone Care</h2>
        </a>
      </li>-->
      <!--<li>
        <a href="/stone-floor-slip-reduction/">
          <h2>Stone Floor Slip Reduction</h2>
        </a>
      </li>-->
    </ul>
  </div>
  <div id="servpageschedulebtn" class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
</div>

{% endblock content %}
