{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Nasty spots and stains on your carpets ruin the look of your carpets and make a bad impression on guests. Trust the experts at Decker's Carpet Cleaning for advanced spot cleaning."
/>
<meta
  name="keywords"
  content="advanced spot cleaning, advance spot treatment, carpet spots, carpet stains, coffee stains, wine stains, juice stains, advanced stain cleaning, advanced stain treatment"
/>
<title>Advanced Spot Treatment | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Advanced Spot Treatment</h1>
  <p class="tagline">
    Say Goodbye to Stubborn Spots and Stains on Your Carpet with Advanced Spot
    Cleaning Services from Decker's Carpet Cleaning!
  </p>
  <div class="breaker"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        Whenever your children spill fizzy drinks or when you spill your coffee
        on your carpet, you will notice stains, marks, and spots. Most people
        try cleaning these spots and stains with a DIY carpet spot cleaner but
        quickly realize that it's no match for a professional carpet cleaning
        service. If you have stubborn stains and spots on your carpet, it's time
        to call in for reinforcements.
      </p>
      <p>
        At Decker's Carpet Cleaning, we offer advanced spot cleaning services
        that help you get rid of tough stains and stubborn spots that you
        couldn't remove from your carpets. Your home's carpet flooring takes a
        pounding every day, and if you have kids and pets in your house, there
        are bound to be spilled drinks and food on the carpets.
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/Deckers-Carpet-Cleaning-advanced-spot-treatment.png' %}"
        alt="spaghetti spill on clean carpet"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">
    State-of-the-Art Spot Cleaning Techniques and Tools
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="carpet cleaning"
        class="contentmedia"
      />
    </div>-->
    <div class="col col-text-2">
      <p>
        Our professional carpet cleaning technicians will use industry-leading
        techniques and tools to remove stains and spots during our advanced spot
        cleaning service. Some examples of specific spots and spills that may
        require advanced spot treatment include:
      </p>
      <ul class="list">
        <li>Coffee and Tea</li>
        <li>Wine</li>
        <li>Food Coloring</li>
        <li>Kool-Aid and other artificial dyes in juices</li>
        <li>Orange Juice and other natural dyes in juices</li>
        <li>Paint</li>
        <li>Permanent Markers</li>
        <li>Hair Dye</li>
        <li>Makeup</li>
        <li>Ink</li>
        <li>Grease, oil and tar</li>
      </ul>
    </div>
  </div>
  <h2 class="content-subheaders">Spots vs. Stains</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        While we strive for complete removal of every spot and stain, sometimes
        permanent damage has been done to the carpet that is beyond cleaning. We
        refer to a "spot" as a mark or spill on the carpet that has not been
        permanently dyed or discolored and can be removed completely. Whereas a
        "stain" refers to a spot that has permanently dyed or discolored the
        carpet. Whether or not a certain spill will cause a spot or a stain is
        mainly down to two factors: What was spilled on the carpet, and What the
        fiber content of the carpet is.
      </p>
      <p>
        Carpet is generally made of one of three main fibers: Polyester, Nylon,
        and Olefin. Polyester (which is the most common fiber) and Olefin are
        generally more receptive to advanced spot treatment. This is because
        these fibers do not have dye-receptors which would allow them to accept
        new dyes from various spills in the house. It is possible to permanently
        discolor these fibers, especially through the use of household cleaners
        and bleaches, however it is generally easier to remove spots from these
        carpets. Nylon, on the other hand, has dye receptors in the fibers,
        allowing them to accept new dyes from various spots and spills from
        things such as Coffee, Tea, Wine, Urine and other tannins (or natural
        dyes), or Food Coloring, Kool-Aid and other synthetically dyed juices,
        Makeup, Ink, and Hair Dye (or synthetic dyes). Through our Advanced Spot
        Treatment methods, we are still able to remove these spots in many
        cases, and dramatically lighten them in others, however it is important
        to keep in mind that sometimes these spots can become permanent stains
        and will need to go beyond cleaning to remove. In that rare case, we do
        offer
        <a class="whitelinks" href="/carpet-repair">Carpet Repair Services</a>
        to keep your carpets looking their best. Nylon carpets can also suffer
        color loss, or discoloration from bleach and other household cleaners
        (even ones designed for carpet). In this case, we would generally be
        looking at a repair to fix this issue.
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/wine spill.jpeg' %}"
        alt="Red Wine Spill On Carpet"
        class="contentmedia"
      />
    </div>
  </div>
  <h2 class="content-subheaders">
    Why You Need Professional Advanced Stain Treatment Services
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-media">
      <p class="whitetext">Bleach Damage from store bought stain treatment:</p>
      <img
        src="{% static 'img/damage from OTC oxi.jpg' %}"
        alt="bleach stain from store bought stain treatment"
        class="contentmedia"
      />
    </div>
    <div class="col col-text-2">
      <p>
        It may be tempting to deal with a stain or spot on your carpet right
        away but there are two things you must avoid doing at all costs:
      </p>
      <ol class="list">
        <li>
          Never rub the spot or stain as this can spread the spot, distort the
          fibers, or grind the stain further into the fibers
        </li>
        <li>Do not pour excess water on the stain or spot</li>
      </ol>
      <p>
        We generally do not recommend reaching for a store-bought household
        carpet cleaning solution or spot cleaner either. The problem with many
        of these is that at best they can temporarily remove or cover up the
        spot, but generally leave a sticky, soapy residue that attracts more
        dirt to the area. At worst, they can set the stain in question or cause
        bleaching, discoloration or color loss on some carpets.
      </p>
      <p>
        At Decker's Carpet Cleaning, our experienced carpet cleaners and our
        advanced spot cleaning service is designed to get rid of tough and
        stubborn spots and stains. There's no need to go through expensive
        carpet replacement when you can get your carpet looking new once again.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h4 class="content-subheaders">All Carpet Services:</h4>
  <div class="breaker-2"></div>
  <a href="/carpet-cleaning/" class="whitelinks" target="_blank"
    >Carpet Cleaning</a
  ><br />
  <a
    href="/carpet-cleaning/pet-stain-odor-treatment/"
    class="whitelinks"
    target="_blank"
    >Pet Stain and Odor Treatment</a
  ><br />
  <a href="/carpet-protector/" class="whitelinks" target="_blank"
    >Carpet Protector</a
  ><br />
  <a href="/carpet-stretching/" class="whitelinks" target="_blank"
    >Carpet Stretching</a
  ><br />
  <a href="/carpet-repair/" class="whitelinks" target="_blank">Carpet Repair</a
  ><br />
  <a href="/area-rug-cleaning/" class="whitelinks" target="_blank"
    >Area Rug Cleaning</a
  ><br />
  <a href="/stay-beautiful-club/" class="whitelinks" target="_blank"
    >Stay Beautiful Club - Maintenance Program</a
  ><br />
  <a href="/commercial-carpet-cleaning/" class="whitelinks" target="_blank"
    >Commercial Carpet Cleaning</a
  >
  <div class="space"><br /></div>
</div>

{% endblock content %}
