{% extends "base.html" %} {% block meta %}

<meta
  name="description"
  content="Have your pets vomited or peed on your carpets, leaving a stain and odor behind? Call Decker's Carpet Cleaning for pet stain and odor treatment today. Learn more about it here."
/>
<meta
  name="keywords"
  content="pet stain odor treatment, pet odor treatment, pet stain treatment"
/>
<title>Pet Stain and Odor Treatment | Decker's Carpet Cleaning</title>
{% endblock meta %} {% load static %} {% block content %}
<div class="space"><br /><br /><br /></div>

<div class="content-wrap">
  <h1>Pet Stain and Odor Treatment</h1>
  <div class="breaker"></div>
  <p class="tagline">
    Get Help with Pet Stains and Odor on Your Carpets with Advanced Techniques
    and Cleaning Solutions from the Experts at Decker's Carpet Cleaning!
  </p>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        No matter how much we love our pets, there's no denying that they can be
        a handful at times, and little accidents are part and parcel of living
        with pets. If you have a young puppy or a cat, you may have some trouble
        litter training them. Sometimes your four legged friends may pee or
        feces on your carpet, and even though you pick it up and clean up the
        pee, it may leave a stain and an odor behind.
      </p>
      <p>
        It's something that comes with the territory, literally, in the case of
        dogs. Your furry little friends may repeatedly be urinating in the same
        spot no matter how much you scold and punish them. However, it's an
        ingrained habit for them as that is how they "mark their territory," but
        when this frequently happens on your carpets, it can cause serious
        problems.
      </p>
      <p>
        The urine and feces may get soaked into the carpet, where it can
        penetrate the fibers and contaminate the flooring underneath and the
        back of the carpet. The odor left behind after your pet has urinated
        will permeate from the floor, whether it is wooden or cement. So, when
        you need help keeping your carpets clean after your pet has done their
        "business" all over it, turn to Decker's Carpet Cleaning for
        professional pet stain and odor treatment.
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/Dog with TP on Carpet.png' %}"
        alt="Dog with toilet paper on carpet floor"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">We Can Treat All Pet Stains</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-media">
      <img
        src="{% static 'img/pet-treatment-many-pets.png' %}"
        alt="pets"
        class="contentmedia"
      />
    </div>
    <div class="col col-text-2">
      <p>
        It can be tiring coming home from work to find dirty stains and wet
        spots on your carpet flooring. When you're dealing with a rebellious
        pet, things can get out of hand pretty quickly. Fortunately, you don't
        have to throw out your carpet or rug and incur the cost of a replacement
        because we can handle all pet stains and odors. These include the
        following:
      </p>
      <ul class="list">
        <li>Pet Urine</li>
        <li>Feces</li>
        <li>Vomit</li>
        <li>Muddy Tracks</li>
        <li>Bloodstains</li>
      </ul>
      <p>
        Our technicians use cutting-edge technology and advanced pet stain
        removal techniques to clean all spots and stains and ensure no odor is
        left behind. We employ a thorough deep clean of your carpet that
        eliminates stains and gets rid of odors, leaving your carpet feeling and
        smelling like new.
      </p>
    </div>
  </div>
  <h2 class="content-subheaders">
    Cutting-Edge Techniques and Cleaning Solutions for Pet Stain Removal
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        At Decker's Carpet Cleaning, our technicians have the technology,
        products, and know how to remediate any horrid smells emanating from
        your carpet due to pet urine, dander, vomit, or feces. We use
        eco-friendly solutions with no harmful chemicals taking advantage of
        advanced biotechnology combined with powerful natural molecular
        technology to eliminate all unwanted stains and odors.
      </p>
      <h3 class="whitetext">The Nitty Gritty on Urine Treatment</h3>
      <p>
        There are two sources of odor that can be associated with pet urine, and
        both need to be addressed when removing odors. When pets urinate on
        carpet, there is a chemical reaction that takes place. Urine starts as
        an acidic substance, but as it dries, it crystallizes into an alkaline
        salt deposit that is not water soluable and cannot be cleaned out with
        soaps, shampoos, or standard carpet cleaning solutions and require
        special urine focused cleaning solutions to break down. These salt
        deposits also attract bacteria that feed on the salts. As this process
        happens gases and waste materials created by this process give off a
        horrid smell that can quickly become unbearable and hard to forget. Most
        other treatment methods for urine stains and odors, especially household
        cleaning products you can buy in the store marketed for "pet stain and
        odor treatment", only attack one of these issues. Most of these products
        are heavy soaps with enzymes to kill the bacteria. There are three main
        problems with this:
      </p>
      <ul class="list">
        <li>
          Soaps/ Shampoos/ Spot Cleaners are on the alkaline side of the pH
          scale, meaning they will not do anything to break down the alkaline
          salt deposit in the carpet
        </li>
        <li>
          Enzymes on their own can be a helpful tool, but there is more to the
          picture. Even when enzymes are used to kill off the bacteria present,
          they do not do anything to break down the salt deposit. Since the salt
          deposit is still there, more bacteria will become attracted to the
          area, causing the problem to continue
        </li>
        <li>
          These products are generally very hard to rinse out and can leave
          soapy deposits in the carpet, leading to dirt and soils sticking to
          the spot on top of the urine issue that is already present. They can
          also cause discoloration of the carpet or setting the stain in some
          types of carpet.
        </li>
      </ul>
      <p>
        Our advanced, cutting-edge urine remidiation solutions attack the
        problem at the source. We use a solution that breaks down the salt
        deposit, killing the bacteria and removing its' food source so no future
        bacteria come to repopulate and restart the odor problems. Not only
        that, these products are formulated to remove the yellowing, or
        sometimes greying stains present from pet accidents. Sometimes
        additional enzymes, or tannin stain removal treatments are necessary on
        top of our Standard Urine Treatment, and our technicians have the know
        how to let you know what needs to be done on site, so we can address the
        issue the first time.
      </p>
    </div>
    <div class="col col-media">
      <img
        src="{% static 'img/carpet-inspection.png' %}"
        alt="carpet inspection"
        class="contentmedia"
      />
      <img
        src="{% static 'img/UrineSaltDiagram.jpg' %}"
        alt="Diagram of Urine Salt Deposit in Carpet"
        class="contentmedia"
      />
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h2 class="content-subheaders">Forget About Nasty Odors</h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        You don't have to use deodorants or scented candles in your home anymore
        to eliminate the smell emanating from the carpet after your pet has
        defiled it. The odors from pet urine and poop can linger in for hours
        and may become persistent from repeat incidences of staining and
        soiling. That becomes an embarrassing situation, especially if guests
        come over unexpectedly or you expect to entertain company.
      </p>
      <p>
        If that sounds familiar, you don't have to worry because Decker's Carpet
        Cleaning is here to save the day. We will identify the odor and
        eliminate the smell with our advanced equipment and cleaning solutions.
        You won't have to worry about nasty or foul odors coming from the carpet
        and can have a clean-smelling room that won't embarrass you in front of
        guests.
      </p>
    </div>
    <!--<div class="col col-media">
      <img
        src="{% static 'img/placeholder.png' %}"
        alt="carpet cleaning"
        class="contentmedia"
      />
    </div>-->
  </div>
  <h2 class="content-subheaders">
    Our Professional Pet Stain and Odor Treatment Services
  </h2>
  <div class="breaker-2"></div>
  <div class="body-columns">
    <div class="col col-text-2">
      <p>
        We use both low-moisture, and Hot Water Extraction carpet cleaning
        methods, depending on the severity of the stains and odor and your
        requirements. Our technicians will examine your carpet's condition and
        select the most appropriate cleaning solutions and treatments. Here are
        some of the methods we use for pet stain and odor removal carpet
        cleaning:
      </p>
      <ul class="list">
        <li>
          Hot Water Extraction Cleaning with Urine Pre-Conditioner to break up
          urine deposits, removing stains and odors
        </li>
        <li>
          Low Moisture Encapsulation Cleaning that encapsulates urine spots and
          allows for removal through the use of an absorbant pad, speeding up
          dry times
        </li>
        <li>
          Additional Deodorizer that neutralizes odor causing molecules, not
          just cover them up
        </li>
        <li>
          Subsurface treatment options for localized, heavy repeated areas
        </li>
      </ul>
      <p>
        When you need a top-notch pet stain and odor removal carpet cleaning
        service, you can count on Decker's Carpet Cleaning to breathe new life
        into your rugs and carpets. We strive to eliminate and wipe out pet
        urine and fecal odors from carpets and are only a call away. Don't wait
        too long to get rid of pet stains and bad odor from your carpets
        anymore.
      </p>
    </div>
  </div>
  <div class="schedulebtn">
    <a class="button btn-lg" href="/book-now/"
      >Schedule Your Free Consultation Today!</a
    >
  </div>
  <h4 class="content-subheaders">All Carpet Services:</h4>
  <div class="breaker-2"></div>
  <a href="/carpet-cleaning/" target="_blank" class="whitelinks"
    >Carpet Cleaning</a
  >
  <a href="/advanced-spot-treatment/" class="whitelinks" target="_blank"
    >Advanced Spot Treatment</a
  ><br />
  <a href="/carpet-protector/" class="whitelinks" target="_blank"
    >Carpet Protector</a
  ><br />
  <a href="/carpet-stretching/" class="whitelinks" target="_blank"
    >Carpet Stretching</a
  ><br />
  <a href="/carpet-repair/" class="whitelinks" target="_blank">Carpet Repair</a
  ><br />
  <a href="/area-rug-cleaning/" class="whitelinks" target="_blank"
    >Area Rug Cleaning</a
  ><br />
  <a href="/stay-beautiful-club/" class="whitelinks" target="_blank"
    >Stay Beautiful Club - Maintenance Program</a
  ><br />
  <a href="/commercial-carpet-cleaning/" class="whitelinks" target="_blank"
    >Commercial Carpet Cleaning</a
  >
  <div class="space"><br /></div>
</div>
{% endblock content %}
